@import url(https://use.typekit.net/sxg7zok.css);

html, body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: 'Montserrat';
}

h1 {
  font-size: 3vw;
  color: #000;
  text-align: center;
}

p {
  font-size: 1.5vw;
  line-height: 2.5vw;
  text-align: justify;
}

a:link, a:focus, a:hover, a:visited {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: lightslategray;
}
::-webkit-scrollbar-thumb {
  background: #00FE9D;
}
::-webkit-scrollbar-thumb:hover {
  background: #FCEC00;
}

.section {
  /* max-height: 100vh; */
  /* max-width: 100vw; */
  color: #fff;
}

.textbox {
  width: 50%;
  padding: 5% 25%;
}

#landing {
  background-color: #441AE7;
  height: 100vh;
}

#landing-image {
  height: 80%;
  width: 80%;
  margin: 5% 10%;
}

#about {
  background-color: #000B54;
}

#about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: center;
  padding: 1vh 4vw;
  margin: 0 1vw;
  max-width: 14vw;
  height: auto;
  border-radius: 10px;
  background-color: #FCEC00;
  color: #000;
}

#themes {
  background-color: #441AE7;
}

#theme-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 12vw;
  height: 32vh;
  margin: 1vw;
  padding: 1vw;
  background-color: #00FE9D;
  color: #000;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p {
  margin: -4vh 0;
}

.card:hover {
  transform: scale(1.08);
  transition-duration: 0.5s;
}

#faq {
  background-color: #000B54;
}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collapse a {
  display: block;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0.9rem 4.5rem 0.9rem 1.8rem;
  color: #00FE9D;
  position: relative;
}

.collapse a:before {
  content: "";
  border-top: 7px solid #00FE9D;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 25px;
  right: 30px;
}

.inner-content {
  padding: 1.8rem;
}

.content {
  max-height: 0em;
  transition: 0.3s linear 0s;
  overflow: auto;
  font-size: 1.1vw;
}

.collapse + .collapse a {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.collapse:target .content {
  max-height: 15em;
}

.collapse:target a:before {
  transform: rotate(-90deg);
}

#footer {
  background-color: #441AE7;
}

#footer-content, #footer-content p {
  text-align: center;
}

.sponsors-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.sponsor-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sponsor {
  height: 10vh;
  margin: 2vh 2vw;
}

.partner {
  height: 7vh;
  margin: 2vh 2vw;
}

#footer a {
  color: white;
}

iframe {
  margin: -4px 0px;
}

#schedule-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

#saturday, #sunday {
  padding: 0 4vw;
}

table {
  width: 100%;
  max-width: 50rem;
}
table tr:nth-child(even) th {
  color: #ccc;
  font-weight: normal;
}
table th,
table td {
  padding: 0.5rem 1rem;
}
table th {
  font-weight: normal;
  border-top: thin dotted #ccc;
}
table td {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
table td > span {
  font-size: 0.8em;
  font-weight: normal;
  display: block;
  width: 100%;
}

.sched-stage {
  background-color: #D02A6B;
}

.sched-session {
  background-color: #00FE9D;
}

.sched-networking {
  background-color: #FDEB00;
}

.sched-discord {
  background-color: #FCB415;
}

.sched-misc {
  background-color: #BCBCBC;
}

@media screen and (max-width: 512px) {
  p {
    font-size: 4vw;
    line-height: 6vw;
  }

  h1 {
    font-size: 8vw;
  }

  #landing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  #landing-image {
    height: 30%;
    width: 90%;
    margin: 5%;
  }

  .textbox {
    width: 70%;
    padding: 10% 15%;
  }

  #buttons {
    flex-direction: column;
  }

  .button {
    margin: 3vh auto;
    max-width: 100vw;
  }

  .card {
    width: 50%;
    height: 24vh;
    margin: 4vw;
    padding: 8vw;
    background-color: #00FE9D;
    color: #000;
    border-radius: 20px;
    font-weight: bold;
  }

  .content {
    font-size: 3vw;
  }

  #schedule-content {
    flex-direction: column;
    justify-content: center;
    padding: 1vh 1vw;
    margin: 0 auto;
  }

  #saturday, #sunday {
    padding: 0;
    max-width: 100%;
  }

  table {
    max-width: 100%;
  }

  table th,
  table td {
    padding: 0.25rem 0.5rem;
  }

  .sponsor-row {
    flex-direction: column;
  }

  .sponsor {
    max-width: 100%;
    margin: 2vh 0;
  }
  
  .partner {
    max-width: 100%;
    margin: 2vh 0;
  }
}